@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>test now</p>
@foreach (var itemCatg in ViewBag.CategoriasList)
    {
        @itemCatg.Categoria<br>
    }
