
@{
    ViewData["Title"] = "Html";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Html</h1>
<br />
<br />
@ViewBag.con
<br />
<br />
<br />
<b class="text-danger">
    @ViewBag.sin
</b>
<br />
<br />
<br />
@ViewBag.sinhtml



