<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="~/Images/favicon.ico" sizes="32x32" />
    <title>EmpleoMax.com</title>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/ne17sckxx03oeirry22akhqbvzamcxsmdz1py8ouk0fk5mf0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
    <div class="container-fluid">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
