@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims;
@{
    var user = await UserManager.GetUserAsync(User); // ver datos adicionales
}
@if (SignInManager.IsSignedIn(User))
{
    int st = user.StatusGeneral;
    <b> @user.FirstName @user.LastName </b> @user.UserName   <a class="btn-link" asp-controller="Admin" asp-action="UpdForm"><i class="fas fa-key"></i> Cambiar contraseña</a>
    if (st == 1) { }
    else { Context.Response.StatusCode = 403; Context.Response.Redirect($"{Context.Request.PathBase}/Admin/Logout", false); }
}
else
{
    Context.Response.StatusCode = 403; Context.Response.Redirect($"{Context.Request.PathBase}/Admin/", false);
}
