
@{
    ViewData["Title"] = "Legal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-light border border-light shadow p-0 mb-2">
        <br><br>
        <h1 class="title1 pl-5">Aviso legal</h1>
        <br><br>
        <p class="TextContenido pl-5 pr-5 text-justify">
            Se informa que este portal Web es propiedad de PROCESO ÓPTIMO CONSULTORÍA Y CAPACITACIÓN S.R.L. (en adelante PROCESO ÓPTIMO) con Registro Nacional de Contribuyente (RNC) 132-02302-1 y domicilio en Avenida Máximo Gómez Esquina José Contreras, Plaza Gazcue Local 405.<br><br>

            Si necesita consultar cualquier detalle con nuestra empresa, puede escribirnos al correo: contacto@empeomax.com.<br><br>

            Este portal que sirve de plataforma a otras empresas para ofrecer o publicar servicios de consultoría, capacitación y vacantes. Además, permite a profesionales exponer sobre un tema en particular de interés profesional en nuestro foro.<br><br>

            Todas las operaciones de este portal web se rige por la Ley exclusivamente vigente en la República Dominicana, por lo cual se someten a ella tanto los de nacionalidad dominicana como los extranjeros.<br><br>

            Cuando accede como un USUARIO FINAL no tendrá ningún costo para usted, sin embargo, está condicionado a la lectura y aceptación integra, expresa y sin reservas a los TÉRMINOS Y CONDICIONES. En el caso de USUARIO EMPRESAS, podrá registrarse también sin costo, sin embargo, puede haber características que tengan algún coste. También los USUARIO EMPRESAS, asumen la aceptación integra, expresa y sin reservas a los TÉRMINOS Y CONDICIONES.<br><br>

            Tanto el USUARIO FINAL, como el USUARIO EMPRESAS en el momento que utilizan nuestro portal, sus contenidos o servicios, aceptan y se someten expresamente a las condiciones generales de uso de este. Si el usuario no estuviere de acuerdo con las presentes condiciones de uso, deberá abstenerse de utilizar este portal y operar por medio de este.<br><br>

            Al usar nuestro portal web todo usuario reconoce el derecho de PROCESO ÓPTIMO de modificar cualquier aspecto estético o de funcionamiento de nuestra web. En tal sentido, se puede ampliar o reducir servicios, eliminar el portal web y también los servicios y contenidos prestados. Esto se puede hacer sin previo aviso y de manera unilateral.<br><br>

            1. RESPONSABILIDADES
            Nuestro portal web tiene la intención de ofrecer una experiencia satisfactoria para todos los tipos de usuarios que acceden al mismo. Nos comprometemos a realizar todas las gestiones que el momento demande en aras de resolver cualquier situación que pueda afectar el servicio que les brindamos.<br><br>

            Sin Embargo, queremos informar a todos los usuarios de nuestro portal web, que no responderemos por la presencia de virus u otros elementos que pudieran dañar su equipo informático.<br><br>

            En ocasiones por temas de mantenimiento es probable que nuestro servicio no sea continuo. En tal sentido, es posible que sea interrumpido para los fines de lugar.<br><br>

            Ningún usuario tiene autorización para cualquier actividad que genere una sobrecarga del funcionamiento a nuestros sistemas informáticos. Está prohibida la introducción de cualquier tipo de virus, robots, o cualquier software que modifique el funcionamiento normal de nuestro portal web.<br><br>

            Todos los tipos de usuarios que pudieran navegar en nuestro portal web asumen toda la responsabilidad que implica el uso de esta.<br><br>

            Cuando cualquier usuario accede a nuestro portal web, reconoce que entiende todo lo referente a las condiciones de uso de este. En tal sentido, acepta expresamente Los TÉRMINOS Y CONDICIONES anteriormente declarados.<br><br>
        </p>
    </div>
