
@{
    ViewData["Title"] = "Politicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-light border border-light shadow p-0 mb-2">
    <br><br>
    <h1 class="title1 pl-5">Términos y Condiciones</h1>
    <br><br>
    <p class="TextContenido pl-5 pr-5 text-justify">
        Para <b>www.empleomax.com</b> la confidencialidad y la seguridad son valores fundamentales por lo cual asumimos la responsabilidad de asegurar la privacidad de los usuarios siempre. Además, garantizamos que vamos a recabar información innecesaria para el funcionamiento de nuestro portal.

        A los fines de que entienda en detalle sobre nuestra <b>POLÍTICA DE PRIVACIDAD</b> le informamos acontinuación sobre los datos personales que le solicitamos al registrarse en nuestro portal web y porqué:
    </p>
    <p class="TextContenido pl-5 pr-5 text-justify">
        <ul class="TextContenido pl-5 pr-5 text-justify">
            <li>
                Quién es el
                responsable del tratamiento de sus datos.
            </li>
            <li>
                Qué finalidad
                tenemos al recabar los datos que le solicitamos.
            </li>
            <li>
                Qué legitimación por
                parte de los usuarios tiene este proceso.
            </li>
            <li>
                Porqué tiempo
                conservamos sus datos personales.
            </li>
            <li>
                Qué destinatarios
                reciben información sobre sus datos.
            </li>
            <li>
                Qué derechos tiene
                usted como usuario y cómo puede ejercerlos.
            </li>
        </ul>
    </p>
    <p class="TextContenido pl-5 pr-5 text-justify">
        <b>1.1 RESPONSABLE DEL MANEJO DE SUS DATOS.</b><br>
        Cualquier contenido, sea este texto, imágenes, códigos fuentes, marcas o cualquier otro que se muestre en nuestro portal web, es de nuestra propiedad o de terceros que nos han cedido, previo acuerdo, el derecho de explotación.<br><br>

        Entidad Jurídica: PROCESO ÓPTIMO CONSULTORÍA Y CAPACITACIÓN COYCAPEM S.R.L.<br>

        Dirección física:<br>

        Registro de Nombre Comercial No.: 564265<br>

        Registro Nacional de Contribuyente RNC: 132-02302-1<br>

        Registro Mercantil No.: 159241PSD<br>
        <br><br>

        <b>1.2. PROCESO DE LEGITIMACIÓN, CONSERVACIÓN Y TRATAMIENTOS DE LOS DATOS ENVIADOS A TRAVÉS DE:</b><br>
    </p>
    <p class="TextContenido pl-5 pr-5 text-justify">
        <ul class="TextContenido pl-5 pr-5 text-justify">
            <li>
                <b>FORMULARIO DE REGISTRO EN NUESTRO PORTAL WEB</b><br>
                Objetivo: Permitir el registro en nuestro portal web al recibir sus datos personales, así como también su CV además de las posteriores actualizaciones por parte del USUARIO FINAL. Recibir la información que permita validar a las empresas para su registro en la plataforma. Adicional, permitir la compra de capacitaciones por parte de los usuarios, así como la venta de estas por parte de las empresas.
                Autorización: Cuando cada usuario se registra en nuestro portal, el mismo da su consentimiento y con ellos legitima todo el proceso descrito en los TÉRMINOS Y CONDICIONES.
                Conservación: El periodo de conservación es de 2 años. DE esta forma se establece que todo dato y CV no actualizado será borrado una vez transcurran 2 años.
            </li>
            <li>
                <b>ENVÍO DE CORREOS ELECTRÓNICOS</b><br>
                Objetivo: Poder responder a los requerimientos de información, orientar a nuestros usuarios antes cualquier dudas o peticiones.
                Autorización:La autorización es expresa al momento de solicitarnos información a través de la dirección de correo electrónico y/o, en su caso, a enviarnos sus datos y CV.
                Conservación: Una vez resulta contestada su petición por correo electrónico, si no ha generado un nuevo tratamiento, sus datos curriculares podrán ser conservados durante 1 año para futuros procesos de selección de personal.
            </li>
            <li>
                <b>FORMULARIO DE CONTACTO</b><br>
                <b>Objetivo:</b> Atender a los requerimientos que usuarios nos envíen por esta vía.
                <b>Autorización:</b> El uso del formulario de contacto es una autorización expresa al uso de los datos personales que haya suministrado a los fines de dar respuesta a su solicitud.
                <b>Conservación:</b> Inmediatamente se resuelvan sus requerimientos, si no genera un nuevo requerimiento.
            </li>
        </ul>
    </p>
    <p class="TextContenido pl-5 pr-5 text-justify">

        <b>1.3. OBLIGACIÓN DE FACILITARNOS SUS DATOS PERSONALES Y CONSECUENCIAS DE NO HACERLO.</b><br>
        Los USUARIOS EMPRESAS deben de tener la capacidad jurídica de poder contratar, y, en el caso de las personas deben tener un mínimo de 14 años para registrarse en nuestro portal web.<br><br>

        Todo dato personal que se solicita es indispensable para poder gestionar sus aplicaciones a vacantes y solicitudes de otros servicios en la plataforma, tales como cursos y/o venta o compra de servicios.<br><br>

        En caso de que no proporcione los datos solicitados no le garantizamos que pueda recibir nuestros servicios o de terceros que utilicen nuestro portal web.<br><br>

        Siempre tendremos el derecho a decidir si añadimos o no sus datos personales a nuestras bases de datos y gestionar los mismos.<br><br>

        <b>1.4 ¿QUIÉN RECIBE SUS DATOS?</b><br>
        Todos sus datos son confidenciales, y sólo se cederán al USUARIO EMPRESA toda vez que usted aplique a una de las vacantes que estas publiquen. Adicional, una vez usted compre un servicio tipo capacitación o cualquier otro, o cuando se comunique a través de nuestro portal, sus datos personales podrán ser cedidos para los fines.<br><br>

        <b>1.5 ¿CUÁLES SON SUS DERECHOS EN FUNCIÓN DE SUS DATOS PERSONALES?</b><br>
        Todo usuario siempre tendrá derecho a retirar su autorización, siempre y cuando la misma se haya dado previamente. En ningún caso, el retirar su autorización limita o condiciona la finalización de algún contrato en ejecución, o de relaciones que se generen con anticipación. Adicional, todos los usuarios tienen derecho a los siguientes puntos:<br>
    </p>

    <p class="TextContenido pl-5 pr-5 text-justify">
        <ul class="TextContenido pl-5 pr-5 text-justify">
            <li>
                Requerir rectificación de sus datos cuando los mismos sean inexactos.
            </li>
            <li>
                Pedir acceso a sus datos personales.
            </li>
            <li>
                Solicitar limitación del tratamiento de sus datos personales en determinadas circunstancias.
            </li>
            <li>
                Solicitar supresión de datos cuando ya no estén vigentes los fines por los que los ha cedido.
            </li>
            <li>
                Cualquier otro derecho establecido en las leyes vigentes.
            </li>
        </ul>
    </p>

    <p class="TextContenido pl-5 pr-5 text-justify">
        A los fines de hacer valer estos derechos, sólo debe escribir a nuestra empresa a través del formulario de contacto o escribirnos directamente a nuestro correo contacto@empleomax.com <br><br>

        <b>1.6 ¿CÓMO GESTIONAMOS LA SEGURIDAD DE SUS DATOS PERSONALES?</b><br>
        En aras de proteger la seguridad de sus datos personales, hacemos constar por esta vía, que hemos considerado y adoptado todas las medidas técnicas y organizativas para evitar su alteración, acceso no autorizados y pérdida.<br><br>

        <b>1.7 ¿CÓMO ACTUALIZAR SUS DATOS PERSONALES?</b><br>
        En aras de proteger la seguridad de sus datos personales, hacemos constar por esta vía, que hemos considerado y adoptado todas las medidas técnicas y organizativas para evitar su alteración, acceso no autorizados y pérdida.<br><br>

        Para poder mantener sus datos actualizados, se requiere que siempre acceda a su perfil y pueda hacer las actualizaciones correspondientes cuando aplique.<br><br>

        Es importante que los usuarios tengan claro que no nos hacemos responsables de la política de privacidad, en lo relativo a que los datos personales que usted provea a terceros por medio de los enlaces desde nuestro portal web.<br><br>

        Disponemos de la facilidad de actualizar sus datos y su CV. Nos comprometemos a mantener su CV siempre que nuestro portal web esté en línea hasta 3 años después de su última actualización.<br><br>

        En fecha de 01/06/2020 ha sido modificada la actual POLÍTICA DE PRIVACIDAD. Hacemos constar que unilateralmente podemos editar la presente política en aras de su cumplimiento con las regulaciones vigentes. Adicional, podemos modificar para ajustar cualquier modificación legislativa que tengan que ver con datos personales que vayan apareciendo.<br><br>

        En tal sentido, una vez sea notificado de una nueva versión de la presente política deberá leer la misma e indicar que lo ha hecho según se lo exija la configuración del portal. El hecho de acceder y navegar en nuestro portal web, es una acción que indica que usted acepta la política vigente al momento de acceder.<br><br>
    </p>
</div>
