@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light border border-light shadow p-0 mb-2">

    <p>Use this page to detail your site's privacy policy.</p>
    </div>
<br>
