
@{
    ViewData["Title"] = "PropiedadIntelectual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-light border border-light shadow p-0 mb-2">
    <br><br>
    <h1 class="title1 pl-5">Propiedad Intelectual</h1>
    <br><br>
    <p class="TextContenido pl-5 pr-5 text-justify">
        Cualquier contenido, sea este texto, imágenes, códigos fuentes, marcas o cualquier otro que se muestre en nuestro portal web, es de nuestra propiedad o de terceros que nos han cedido, previo acuerdo, el derecho de explotación.<br><br>

        Todos los contenidos están protegidos por los derechos de propiedad tanto intelectual como industrial.<br><br>

        Los usuarios finales tienen únicamente derecho al uso privado de los mismos, además de que debe ser sin ánimo de lucro.<br><br>

        Adicional, requiere de una autorización expresa por parte de nuestra empresa para modificarlos, reproducirlos, explotarlos, distribuirlos o ejercer cualquier derecho perteneciente a su titular. <br><br>

        Los usuarios empresas tienen derecho al lucro cuando hayan firmado un contrato con nuestra empresa que les permita la promoción de sus servicios de capacitación.<br><br>
        <br><br><br><br><br><br>
    </p>
</div>