
@{
    ViewData["Title"] = "Responsabilidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-light border border-light shadow p-0 mb-2">
    <br><br>
    <h1 class="title1 pl-5">Responsabilidades</h1>
    <br><br>
    <p class="TextContenido pl-5 pr-5 text-justify">
        Nuestro portal web tiene la intención de ofrecer una experiencia satisfactoria para todos los tipos de usuarios que acceden al mismo. <br><br>

        Nos comprometemos a realizar todas las gestiones que el momento demande en aras de resolver cualquier situación que pueda afectar el servicio que les brindamos.<br><br>

        Sin embargo, queremos informar a todos los usuarios de nuestro portal web, que no responderemos por la presencia de virus u otros elementos que pudieran dañar su equipo informático.<br><br>

        En ocasiones por temas de mantenimiento es probable que nuestro servicio no sea continuo. En tal sentido, es posible que sea interrumpido para los fines de lugar.<br><br>

        Ningún usuario tiene autorización para cualquier actividad que genere una sobrecarga del funcionamiento a nuestros sistemas informáticos. <br><br>

        Está prohibida la introducción de cualquier tipo de virus, robots, o cualquier software que modifique el funcionamiento normal de nuestro portal web.<br><br>

        Todos los tipos de usuarios que pudieran navegar en nuestro portal web asumen toda la responsabilidad que implica el uso de esta.<br><br>

        Cuando cualquier usuario accede a nuestro portal web, reconoce que entiende todo lo referente a las condiciones de uso de este. <br><br>

        En tal sentido, acepta expresamente Los TÉRMINOS Y CONDICIONES anteriormente declarados.<br><br>
    </p>
</div>
