
@{
    ViewData["Title"] = "Terminos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-light border border-light shadow p-0 mb-2">
    <br><br>
    <h1 class="title1 pl-5">Términos y Condiciones</h1>
    <br><br>
    <p class="TextContenido pl-5 pr-5 text-justify">
        En nuestro portal web existen dos tipos de usuarios. El USUARIO FINAL o el USUARIO EMPRESA. <br><br>

        El primero se refiere a todos aquellos internautas que acceden a nuestro portal con la intención de recibir información sobre cursos, vacantes y temas relacionados, pudiendo o no registrarse en nuestro portal. <br><br>

        En el caso de USUARIO EMPRESA se refiere a Personas Jurídicas que acceden a nuestro portal con la intención de promover sus vacantes, cursos, participar en nuestro foro profesional, para lo cual debe registrarse.<br><br>

        Todo acceso como visitante El USUARIO FINAL es gratuito en nuestro portal web y no requerirá registro por parte de los usuarios. En el caso del USUARIO EMPRESA podrá registrarse gratuitamente en nuestro portal y, sólo pagará por servicios premium.<br><br>

        Todo tipo de usuario que navega en nuestro portal web entiende que el envío de datos personales supone la aceptación expresa nuestra POLÍTICA DE PRIVACIDAD.<br><br>

        Todo usuario debe acceder a nuestro portal Web conforme a la buena fe, las normas de orden público y a las presentes TÉRMINOS Y CONDICIONES.<br><br>

        El acceso a nuestro sitio Web se realiza bajo la responsabilidad del usuario quien acepta responder en todo caso de los daños y perjuicios que el mismo cause a terceros o a nosotros mismos.<br><br>

        Cualquier tipo de usuario acepta que, nuestra empresa no tiene control respecto a la información, contenidos y servicios que contengan otras páginas web que pueda ver o acceder al navegar en nuestro portal. <br><br>

        Todo usuario se declara en conocimiento que quedamos eximidos de cualquier responsabilidad por los daños y perjuicios de toda clase que pudiesen derivar por la utilización de esos portales web, ajenas a nuestra empresa.<br><br>

        El envío de sus datos implica la plena aceptación de la POLÍTICA DE PRIVACIDAD de www.empleomax.com .<br><br><br>
    </p>
</div>
