@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> _userManager
@model EmpleosWebMax.Domain.Entity.Referencias

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
@{
    var id = _userManager.GetUserId(User);
    var mail = _userManager.GetUserName(User);
    ViewBag.id = id;
    ViewBag.mail = mail;
    DateTime date = DateTime.Now;

}
<div class="container-fluid">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header" style="background: linear-gradient(#E2ECF7, #c9d9eb);">
                <div class="container-fluid">
                    <div class="row justify-content-center align-self-center">
                        <div class="col-md-8 justify-content-center align-self-center"><h1 class="TitleRes3">Referencia</h1></div>
                        <div class="col-md-4 justify-content-center align-self-center"><a href="#close-modal" rel="modal:open">Cerrar <i class="fas fa-times-circle text-danger"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row myModal">
                    <div class="col-lg-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form asp-action="Create">
                            <input type="hidden" asp-for="email" class="form-control" value="@ViewBag.mail" />
                            <input type="hidden" asp-for="IdUser" class="form-control" value="@ViewBag.id" />
                            <input type="hidden" class="form-check-input" asp-for="status" value="true" />
                            <input type="hidden" asp-for="dateadd" class="form-control" value="@date" />

                            <div class="form-group">
                                <label asp-for="Persona" class="control-label"></label>
                                <input onkeyup="success()" asp-for="Persona" class="form-control" />
                                <span asp-validation-for="Persona" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input onkeyup="success()" asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email2" class="control-label"></label>
                                <input asp-for="Email2" class="form-control" />
                                <span asp-validation-for="Email2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Empresa" class="control-label"></label>
                                <input asp-for="Empresa" class="form-control" />
                                <span asp-validation-for="Empresa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Parentezco" class="control-label"></label>
                                <input onkeyup="success()" asp-for="Parentezco" class="form-control" />
                                <span asp-validation-for="Parentezco" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" id="button" disabled />
                            </div>
                        </form>
                    </div>
                </div>

                <div>


                </div>

            </div>

            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function success() {
            if (document.getElementById("Persona").value === "" || document.getElementById("PhoneNumber").value === "" || document.getElementById("Parentezco").value === "") {
                document.getElementById('button').disabled = true;
            }
            else {
                document.getElementById('button').disabled = false;
            }
        }

    </script>
}
