@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container bg-transparent">
    <br><br>
    <h1 class="title1">Revisa tu email!</h1>
    <h4>información.</h4>
    <hr />
    <div class="row">
        <p>
            Hemos enviado un correo con las instrucciones de tu solicitud, regresa pronto!
        </p>
    </div>
</div>