@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <div class="container">
        <h1 class="title1">@ViewData["Title"]</h1>
        <p>Debe ingresar a su cueta. </p>
        <a class="nav-link text-primary" asp-area="Identity" asp-controller="" asp-action="Login"> Login <i class="fas fa-angle-down"> </i></a>
    </div>