@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

    <div class="container  bg-transparent">
        <br><br>
        <h1 class="title1">En hora buena.!</h1>
        <hr />    <br></br>

        <div class="row">
            <p class="p-3">
                Tu contraseña fue cambiada con exito!<a asp-page="./">click aquí</a>.
            </p>
        </div>
    </div>