

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<style>
    text.letraSmall {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        margin: 0;
    }
</style>
@{
    Layout = "";
    string mensaje = @ViewBag.mensajeUserName;
}
@if (mensaje == "ab")
{<a href="#" data-toggle="tooltip" title="Ya estas siguiendo!"><i class="fas fa-walking text-primary"></i><text class="letraSmall text-primary"> solicitado</text></a>
}
else if (mensaje == "aenr")
{
    <a href="#" data-toggle="tooltip" title="Ya estas siguiendo!"><i class="fas fa-walking text-primary"></i><text class="letraSmall text-primary"> esperando</text></a>
}
else if (mensaje == "aera")
{
    <a href="#" data-toggle="tooltip" title="Ya estas siguiendo!"><i class="fas fa-walking text-primary"></i><text class="letraSmall text-primary"> amigos</text></a>
}
else if (mensaje == "ef")
{
    <a href="#" data-toggle="tooltip" title="Ya estas siguiendo!"><i class="fas fa-exclamation-circle text-warning"></i> <text class="letraSmall text-primary"> Email no valido</text></a>
}
else if (mensaje == "ec")
{
    <div class="form-group">
        <label name="_Nameinvitado" class="control-label">ingresa el nombre a invitar</label>
        <input name="_Nameinvitado" class="form-control" placeholder="ej: Carlos" />
    </div>

    <div class="form-group">
        <label name="usuario" class="control-label">envía un mensaje</label>
        <textarea name="mensaje" class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-warning btn-block"><i class="far fa-paper-plane"></i> Enviar </button>
    </div>
}
else
{
    <a href="#" data-toggle="tooltip" title="se produjo un error!"><i class="fas fa-exclamation-circle text-warning"></i><text class="letraSmall text-primary"> error</text></a>
}


