
@{
    ViewData["Title"] = "MyDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container text-center">
        <br><br>
        <p><i class="fas fa-exclamation-circle text-danger"></i> El archivo no se subió!</p>
        <h1>Recuerde colocar el nombre del documento</h1>
        <br>
        <a class="btn btn-link" asp-controller="Procesos" asp-action="VerDocumentos">Regresar</a>
    </div>

