@model EmpleosWebMax.Application.ViewModels.InvoiceViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<link href="~/css/invoiceEdit.css" rel="stylesheet" />
<div id="container" class="InvoicePS">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="invoice p-3 mb-3 rounded border-primary">
                        <form asp-action="Edit">
                            @*<div class="content-wrapper">
                                <section class="content">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="box box-primary">
                                                <div class="box-body">*@


                            <div class="row">


                                <div class="container">
                                    <div class="plans">
                                        <div class="title" style="size">Seleccione opción </div>
                                        <label class="plan basic-plan" for="basic">
                                            <input asp-for="IsPaid" value="true" type="radio" name="IsPaid" id="basic" />

                                            <div class="plan-content">
                                                <img loading="lazy" src="~/images/debit-card.png" />
                                                <div class="plan-details">
                                                    <span>Esta Pagado</span>
                                                    <p>Ha sido previamente pagado.</p>
                                                </div>
                                            </div>
                                        </label>

                                        <label class="plan complete-plan" for="complete">
                                            <input type="radio" asp-for="IsPaid" value="false" id="complete" name="IsPaid" />


                                            <div class="plan-content">
                                                <img loading="lazy" src="~/images/dont-touch.png" />
                                                <div class="plan-details">
                                                    <span>No Esta Pagado</span>
                                                    <p>No Ha sido previamente pagado .</p>
                                                </div>
                                            </div>
                                        </label>
                                        <div>
                                            <div class="justify-content-center" style="margin-top:60px">
                                                <div class="form-group">
                                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>


                                @*           </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>*@
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
