@model EmpleosWebMax.Application.ViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}




<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<form asp-action="Edit">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-body">


                            <div class="row">


                                <div class="container">
                                    <div class="plans">
                                        <div class="title">Seleccione opción </div>
                                        <label class="plan basic-plan" for="basic">
                                            <input asp-for="IsPaid" value="true" type="radio" name="IsPaid" id="basic" />
                                          
                                            <div class="plan-content">
                                                <img loading="lazy" src="~/images/debit-card.png" />
                                                <div class="plan-details">
                                                    <span>Basic</span>
                                                    <p>For smaller business, with simple salaries and pay schedules.</p>
                                                </div>
                                            </div>
                                        </label>

                                        <label class="plan complete-plan" for="complete">
                                            <input type="radio" asp-for="IsPaid" value="false" id="complete" name="IsPaid" />
                                          

                                            <div class="plan-content">
                                                <img loading="lazy" src="~/images/dont-touch.png" />
                                                <div class="plan-details">
                                                    <span>Complete</span>
                                                    <p>For growing business who wants to create a rewarding place to work.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="box-footer">
                                            <div class="form-group">
                                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
