@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<EmpleosWebMax.Domain.Entity.ApplicationUser> SignInManager
@inject UserManager<EmpleosWebMax.Domain.Entity.ApplicationUser> _userManager
@model EmpleosWebMax.Domain.Entity.EmpresaViewModel
@{
    ViewData["Title"] = "CEV";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";//
}

<h1 class="title1">CREAR EMPRESA Y VACANTE DE TRABAJO @ViewBag.myuser  @ViewBag.asu</h1>

<form enctype="multipart/form-data" asp-controller="Admin" asp-action="CEV" asp-route-returnUrl="@Context.Request.QueryString">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="EmpresaCentro" class="control-label">Empresa</label>
                    <input onkeyup="success()" id="EmpresaCentro" name="EmpresaCentro" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="RNC" class="control-label"> RNC</label>
                    <input onkeyup="success()" id="RNC" name="RNC" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Foto" class="control-label">Suba una logo</label>
                    <div class="form-group">
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label">Telefono</label>
                    <input onkeyup="success()" id="PhoneNumber" name="PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Email2" class="control-label">Email</label>
                    <input type="text" name="userName" id="username" class="form-control" value="" />
                    <div class="validaremail"></div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="mipais" class="control-label">País</label>
                    <select name="Pais" id="mipais" class='form-control' data-live-search='true'>
                        <option value="" id="NA">Seleccionar pais</option>
                        <option value="Afganistán" id="AF">Afganistán</option>
                        <option value="Albania" id="AL">Albania</option>
                        <option value="Alemania" id="DE">Alemania</option>
                        <option value="Andorra" id="AD">Andorra</option>
                        <option value="Angola" id="AO">Angola</option>
                        <option value="Anguila" id="AI">Anguila</option>
                        <option value="Antártida" id="AQ">Antártida</option>
                        <option value="Antigua y Barbuda" id="AG">Antigua y Barbuda</option>
                        <option value="Antillas holandesas" id="AN">Antillas holandesas</option>
                        <option value="Arabia Saudí" id="SA">Arabia Saudí</option>
                        <option value="Argelia" id="DZ">Argelia</option>
                        <option value="Argentina" id="AR">Argentina</option>
                        <option value="Armenia" id="AM">Armenia</option>
                        <option value="Aruba" id="AW">Aruba</option>
                        <option value="Australia" id="AU">Australia</option>
                        <option value="Austria" id="AT">Austria</option>
                        <option value="Azerbaiyán" id="AZ">Azerbaiyán</option>
                        <option value="Bahamas" id="BS">Bahamas</option>
                        <option value="Bahrein" id="BH">Bahrein</option>
                        <option value="Bangladesh" id="BD">Bangladesh</option>
                        <option value="Barbados" id="BB">Barbados</option>
                        <option value="Bélgica" id="BE">Bélgica</option>
                        <option value="Belice" id="BZ">Belice</option>
                        <option value="Benín" id="BJ">Benín</option>
                        <option value="Bermudas" id="BM">Bermudas</option>
                        <option value="Bhután" id="BT">Bhután</option>
                        <option value="Bielorrusia" id="BY">Bielorrusia</option>
                        <option value="Birmania" id="MM">Birmania</option>
                        <option value="Bolivia" id="BO">Bolivia</option>
                        <option value="Bosnia y Herzegovina" id="BA">Bosnia y Herzegovina</option>
                        <option value="Botsuana" id="BW">Botsuana</option>
                        <option value="Brasil" id="BR">Brasil</option>
                        <option value="Brunei" id="BN">Brunei</option>
                        <option value="Bulgaria" id="BG">Bulgaria</option>
                        <option value="Burkina Faso" id="BF">Burkina Faso</option>
                        <option value="Burundi" id="BI">Burundi</option>
                        <option value="Cabo Verde" id="CV">Cabo Verde</option>
                        <option value="Camboya" id="KH">Camboya</option>
                        <option value="Camerún" id="CM">Camerún</option>
                        <option value="Canadá" id="CA">Canadá</option>
                        <option value="Chad" id="TD">Chad</option>
                        <option value="Chile" id="CL">Chile</option>
                        <option value="China" id="CN">China</option>
                        <option value="Chipre" id="CY">Chipre</option>
                        <option value="Ciudad estado del Vaticano" id="VA">Ciudad estado del Vaticano</option>
                        <option value="Colombia" id="CO">Colombia</option>
                        <option value="Comores" id="KM">Comores</option>
                        <option value="Congo" id="CG">Congo</option>
                        <option value="Corea" id="KR">Corea</option>
                        <option value="Corea del Norte" id="KP">Corea del Norte</option>
                        <option value="Costa del Marfíl" id="CI">Costa del Marfíl</option>
                        <option value="Costa Rica" id="CR">Costa Rica</option>
                        <option value="Croacia" id="HR">Croacia</option>
                        <option value="Cuba" id="CU">Cuba</option>
                        <option value="Dinamarca" id="DK">Dinamarca</option>
                        <option value="Djibouri" id="DJ">Djibouri</option>
                        <option value="Dominica" id="DM">Dominica</option>
                        <option value="Ecuador" id="EC">Ecuador</option>
                        <option value="Egipto" id="EG">Egipto</option>
                        <option value="El Salvador" id="SV">El Salvador</option>
                        <option value="Emiratos Arabes Unidos" id="AE">Emiratos Arabes Unidos</option>
                        <option value="Eritrea" id="ER">Eritrea</option>
                        <option value="Eslovaquia" id="SK">Eslovaquia</option>
                        <option value="Eslovenia" id="SI">Eslovenia</option>
                        <option value="España" id="ES">España</option>
                        <option value="Estados Unidos" id="US">Estados Unidos</option>
                        <option value="Estonia" id="EE">Estonia</option>
                        <option value="c" id="ET">Etiopía</option>
                        <option value="Ex-República Yugoslava de Macedonia" id="MK">Ex-República Yugoslava de Macedonia</option>
                        <option value="Filipinas" id="PH">Filipinas</option>
                        <option value="Finlandia" id="FI">Finlandia</option>
                        <option value="Francia" id="FR">Francia</option>
                        <option value="Gabón" id="GA">Gabón</option>
                        <option value="Gambia" id="GM">Gambia</option>
                        <option value="Georgia" id="GE">Georgia</option>
                        <option value="Georgia del Sur y las islas Sandwich del Sur" id="GS">Georgia del Sur y las islas Sandwich del Sur</option>
                        <option value="Ghana" id="GH">Ghana</option>
                        <option value="Gibraltar" id="GI">Gibraltar</option>
                        <option value="Granada" id="GD">Granada</option>
                        <option value="Grecia" id="GR">Grecia</option>
                        <option value="Groenlandia" id="GL">Groenlandia</option>
                        <option value="Guadalupe" id="GP">Guadalupe</option>
                        <option value="Guam" id="GU">Guam</option>
                        <option value="Guatemala" id="GT">Guatemala</option>
                        <option value="Guayana" id="GY">Guayana</option>
                        <option value="Guayana francesa" id="GF">Guayana francesa</option>
                        <option value="Guinea" id="GN">Guinea</option>
                        <option value="Guinea Ecuatorial" id="GQ">Guinea Ecuatorial</option>
                        <option value="Guinea-Bissau" id="GW">Guinea-Bissau</option>
                        <option value="Haití" id="HT">Haití</option>
                        <option value="Holanda" id="NL">Holanda</option>
                        <option value="Honduras" id="HN">Honduras</option>
                        <option value="Hong Kong R. A. E" id="HK">Hong Kong R. A. E</option>
                        <option value="Hungría" id="HU">Hungría</option>
                        <option value="India" id="IN">India</option>
                        <option value="Indonesia" id="ID">Indonesia</option>
                        <option value="Irak" id="IQ">Irak</option>
                        <option value="Irán" id="IR">Irán</option>
                        <option value="Irlanda" id="IE">Irlanda</option>
                        <option value="Isla Bouvet" id="BV">Isla Bouvet</option>
                        <option value="Isla Christmas" id="CX">Isla Christmas</option>
                        <option value="Isla Heard e Islas McDonald" id="HM">Isla Heard e Islas McDonald</option>
                        <option value="Islandia" id="IS">Islandia</option>
                        <option value="Islas Caimán" id="KY">Islas Caimán</option>
                        <option value="Islas Cook" id="CK">Islas Cook</option>
                        <option value="Islas de Cocos o Keeling" id="CC">Islas de Cocos o Keeling</option>
                        <option value="Islas Faroe" id="FO">Islas Faroe</option>
                        <option value="Islas Fiyi" id="FJ">Islas Fiyi</option>
                        <option value="Islas Malvinas Islas Falkland" id="FK">Islas Malvinas Islas Falkland</option>
                        <option value="Islas Marianas del norte" id="MP">Islas Marianas del norte</option>
                        <option value="Islas Marshall" id="MH">Islas Marshall</option>
                        <option value="Islas menores de Estados Unidos" id="UM">Islas menores de Estados Unidos</option>
                        <option value="Islas Palau" id="PW">Islas Palau</option>
                        <option value="Islas Salomón" d="SB">Islas Salomón</option>
                        <option value="Islas Tokelau" id="TK">Islas Tokelau</option>
                        <option value="Islas Turks y Caicos" id="TC">Islas Turks y Caicos</option>
                        <option value="Islas Vírgenes EE.UU." id="VI">Islas Vírgenes EE.UU.</option>
                        <option value="Islas Vírgenes Reino Unido" id="VG">Islas Vírgenes Reino Unido</option>
                        <option value="Israel" id="IL">Israel</option>
                        <option value="Italia" id="IT">Italia</option>
                        <option value="Jamaica" id="JM">Jamaica</option>
                        <option value="Japón" id="JP">Japón</option>
                        <option value="Jordania" id="JO">Jordania</option>
                        <option value="Kazajistán" id="KZ">Kazajistán</option>
                        <option value="Kenia" id="KE">Kenia</option>
                        <option value="Kirguizistán" id="KG">Kirguizistán</option>
                        <option value="Kiribati" id="KI">Kiribati</option>
                        <option value="Kuwait" id="KW">Kuwait</option>
                        <option value="Laos" id="LA">Laos</option>
                        <option value="Lesoto" id="LS">Lesoto</option>
                        <option value="Letonia" id="LV">Letonia</option>
                        <option value="Líbano" id="LB">Líbano</option>
                        <option value="Liberia" id="LR">Liberia</option>
                        <option value="Libia" id="LY">Libia</option>
                        <option value="Liechtenstein" id="LI">Liechtenstein</option>
                        <option value="Lituania" id="LT">Lituania</option>
                        <option value="Luxemburgo" id="LU">Luxemburgo</option>
                        <option value="Macao R. A. E" id="MO">Macao R. A. E</option>
                        <option value="Madagascar" id="MG">Madagascar</option>
                        <option value="Malasia" id="MY">Malasia</option>
                        <option value="Malawi" id="MW">Malawi</option>
                        <option value="Maldivas" id="MV">Maldivas</option>
                        <option value="Malí" id="ML">Malí</option>
                        <option value="Malta" id="MT">Malta</option>
                        <option value="Marruecos" id="MA">Marruecos</option>
                        <option value="Martinica" id="MQ">Martinica</option>
                        <option value="Mauricio" id="MU">Mauricio</option>
                        <option value="Mauritania" id="MR">Mauritania</option>
                        <option value="Mayotte" id="YT">Mayotte</option>
                        <option value="México" id="MX">México</option>
                        <option value="Micronesia" id="FM">Micronesia</option>
                        <option value="Moldavia" id="MD">Moldavia</option>
                        <option value="Mónaco" id="MC">Mónaco</option>
                        <option value="Mongolia" id="MN">Mongolia</option>
                        <option value="Montserrat" id="MS">Montserrat</option>
                        <option value="Mozambique" id="MZ">Mozambique</option>
                        <option value="Namibia" id="NA">Namibia</option>
                        <option value="Nauru" id="NR">Nauru</option>
                        <option value="Nepal" id="NP">Nepal</option>
                        <option value="Nicaragua" id="NI">Nicaragua</option>
                        <option value="Níger" id="NE">Níger</option>
                        <option value="Nigeria" id="NG">Nigeria</option>
                        <option value="Niue" id="NU">Niue</option>
                        <option value="Norfolk" id="NF">Norfolk</option>
                        <option value="Noruega" id="NO">Noruega</option>
                        <option value="Nueva Caledonia" id="NC">Nueva Caledonia</option>
                        <option value="Nueva Zelanda" id="NZ">Nueva Zelanda</option>
                        <option value="Omán" id="OM">Omán</option>
                        <option value="Panamá" id="PA">Panamá</option>
                        <option value="Papua Nueva Guinea" id="PG">Papua Nueva Guinea</option>
                        <option value="Paquistán" id="PK">Paquistán</option>
                        <option value="Paraguay" id="PY">Paraguay</option>
                        <option value="Perú" id="PE">Perú</option>
                        <option value="Pitcairn" id="PN">Pitcairn</option>
                        <option value="Polinesia francesa" id="PF">Polinesia francesa</option>
                        <option value="Polonia" id="PL">Polonia</option>
                        <option value="Portugal" id="PT">Portugal</option>
                        <option value="Puerto Rico" id="PR">Puerto Rico</option>
                        <option value="Qatar" id="QA">Qatar</option>
                        <option value="Reino Unido" id="UK">Reino Unido</option>
                        <option value="República Centroafricana" id="CF">República Centroafricana</option>
                        <option value="República Checa" id="CZ">República Checa</option>
                        <option value="República de Sudáfrica" id="ZA">República de Sudáfrica</option>
                        <option value="República Democrática del Congo Zaire" id="CD">República Democrática del Congo Zaire</option>
                        <option value="República Dominicana" id="DO">República Dominicana</option>
                        <option value="Reunión" id="RE">Reunión</option>
                        <option value="Ruanda" id="RW">Ruanda</option>
                        <option value="Rumania" id="RO">Rumania</option>
                        <option value="Rusia" id="RU">Rusia</option>
                        <option value="Samoa" id="WS">Samoa</option>
                        <option value="Samoa occidental" id="AS">Samoa occidental</option>
                        <option value="San Kitts y Nevis" id="KN">San Kitts y Nevis</option>
                        <option value="San Marino" id="SM">San Marino</option>
                        <option value="San Pierre y Miquelon" id="PM">San Pierre y Miquelon</option>
                        <option value="San Vicente e Islas Granadinas" id="VC">San Vicente e Islas Granadinas</option>
                        <option value="Santa Helena" id="SH">Santa Helena</option>
                        <option value="Santa Lucía" id="LC">Santa Lucía</option>
                        <option value="Santo Tomé y Príncipe" id="ST">Santo Tomé y Príncipe</option>
                        <option value="Senegal" id="SN">Senegal</option>
                        <option value="Serbia y Montenegro" id="YU">Serbia y Montenegro</option>
                        <option value="Sychelles" id="SC">Seychelles</option>
                        <option value="Sierra Leona" id="SL">Sierra Leona</option>
                        <option value="Singapur" id="SG">Singapur</option>
                        <option value="Siria" id="SY">Siria</option>
                        <option value="Somalia" id="SO">Somalia</option>
                        <option value="Sri Lanka" id="LK">Sri Lanka</option>
                        <option value="Suazilandia" id="SZ">Suazilandia</option>
                        <option value="Sudán" id="SD">Sudán</option>
                        <option value="Suecia" id="SE">Suecia</option>
                        <option value="Suiza" id="CH">Suiza</option>
                        <option value="Surinam" id="SR">Surinam</option>
                        <option value="Svalbard" id="SJ">Svalbard</option>
                        <option value="Tailandia" id="TH">Tailandia</option>
                        <option value="Taiwán" id="TW">Taiwán</option>
                        <option value="Tanzania" id="TZ">Tanzania</option>
                        <option value="Tayikistán" id="TJ">Tayikistán</option>
                        <option value="Territorios británicos del océano Indico" id="IO">Territorios británicos del océano Indico</option>
                        <option value="Territorios franceses del sur" id="TF">Territorios franceses del sur</option>
                        <option value="Timor Oriental" id="TP">Timor Oriental</option>
                        <option value="Togo" id="TG">Togo</option>
                        <option value="Tonga" id="TO">Tonga</option>
                        <option value="Trinidad y Tobago" id="TT">Trinidad y Tobago</option>
                        <option value="Túnez" id="TN">Túnez</option>
                        <option value="Turkmenistán" id="TM">Turkmenistán</option>
                        <option value="Turquía" id="TR">Turquía</option>
                        <option value="Tuvalu" id="TV">Tuvalu</option>
                        <option value="Ucrania" id="UA">Ucrania</option>
                        <option value="Uganda" id="UG">Uganda</option>
                        <option value="Uruguay" id="UY">Uruguay</option>
                        <option value="Uzbekistán" id="UZ">Uzbekistán</option>
                        <option value="Vanuatu" id="VU">Vanuatu</option>
                        <option value="Venezuela" id="VE">Venezuela</option>
                        <option value="Vietnam" id="VN">Vietnam</option>
                        <option value="Wallis y Futuna" id="WF">Wallis y Futuna</option>
                        <option value="Yemen" id="YE">Yemen</option>
                        <option value="Zambia" id="ZM">Zambia</option>
                        <option value="Zimbabue" id="ZW">Zimbabue</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Ciudad" class="control-label">Ciudad</label>
                    @*<input asp-for="Ciudad" class="form-control" />*@
                    @*========================================================================*@
                    <div style='display:none;' id='paisx'>
                        <select id="Ciudad" name="Ciudad" class="form-control">
                            <option value="San Cristóbal"> San Cristóbal </option>
                            <option value="Santo Domingo"> Santo Domingo </option>
                            <option value="Santiago"> Santiago </option>
                            <option value="Monte Plata"> Monte Plata </option>
                            <option value="La Altagracia"> La Altagracia </option>
                            <option value="San Pedro de Macorís"> San Pedro de Macorís </option>
                            <option value="La Romana"> La Romana </option>
                            <option value="Distrito Nacional"> Distrito Nacional </option>
                            <option value="La Vega"> La Vega </option>
                            <option value="Santiago Rodríguez"> Santiago Rodríguez </option>
                            <option value="Puerto Plata"> Puerto Plata </option>
                            <option value="Elías Piña"> Elías Piña </option>
                            <option value="El Seibo"> El Seibo </option>
                            <option value="Azua"> Azua </option>
                            <option value="Barahona"> Barahona </option>
                            <option value="Peravia"> Peravia </option>
                            <option value="Monte Cristi"> Monte Cristi </option>
                            <option value="Duarte"> Duarte </option>
                            <option value="María Trinidad Sánchez"> María Trinidad Sánchez </option>
                            <option value="Bahoruco"> Bahoruco </option>
                            <option value="Valverde"> Valverde </option>
                        </select>
                    </div>
                    <div style='display:initial;' id='paisx2'>
                        <input name="Ciudad" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Direccion" class="control-label">Dirección</label>
                    <input onkeyup="success()" name="Direccion" id="Direccion" class="form-control" />
                </div>
                @*========================================================================*@
            </div>

        </div>

    </div>
    <div class="container-fluid">


        <h1 class="title1">Crear oferta de empleo</h1>
        @*----------------------TEXTO ENRIQUECIDO ----------------------------------------*@
        <div>
            <script>
                tinymce.init({
                    selector: '.mytextarea',
                    menubar: 'edit view',
                    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage',
                });
            </script>
        </div>
        <div class="row border border-light shadow-lg p-4 mb-4 bg-white">
            <div class="col-md-4" style="background-color:#F4F4F4;">
                <div class="form-group">
                    <br>
                    <label for="Titulotrabajo" class="control-label"> Titulo del trabajo</label>
                    <input name="Titulotrabajo" class="form-control" placeholder="Ej: Abogado Sr" />
                </div>
                <div class="form-group">
                    <label for="Ciudadtrabajo" class="control-label">Ciudad</label>
                    <input name="Ciudadtrabajo" class="form-control" placeholder="Santiago" />
                </div>
                <div class="form-group">
                    <label for="Salariotratar" class="control-label">Salario a tratar</label>
                    <select name="Salariotratar" class="form-control" style="width:70px;">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Salario" class="control-label">Salario</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <select name="salarioultimoMON" class="form-control">
                                <option value="RD$">RD$</option>
                                <option value="USD$">USD$</option>
                            </select>
                        </div>
                        <div class="col-sm-6"><input name="Salario" class="form-control" /></div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="Salariohasta" class="control-label">salario hasta</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <select name="salarioaspiraMON" class="form-control">
                                <option value="RD$">RD$</option>
                                <option value="USD$">USD$</option>
                            </select>
                        </div>
                        <div class="col-sm-6"><input name="Salariohasta" class="form-control" /></div>
                    </div>
  
                </div>
            </div>
            @*---------------------*@
            <div class="col-md-4 border-light border" style="background-color:#f9F9F9;">
                <div class="form-group">
                    <br>
                    <label for="idiomas" class="control-label">Idiomas (escriba el deseados(s))</label>
                    <input name="idiomas" class="form-control" placeholder="ej: ingles, frances..." />
                </div>
                <div class="form-group">
                    <label for="publicosino" class="control-label">Datos de empresa publicos?</label>
                <select name="publicosino" class="form-control" style="width:70px;">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
                </div>

                <div class="form-group">
                    <label for="TipoContrato" class="control-label">Tipo de contrato</label>
                    <select name="TipoContrato" class="form-control" style="width:150px;">
                        <option value="1">Fijo</option>
                        <option value="2">Temporal</option>
                        <option value="3">Sin contrato</option>
                        <option value="4">Independiente</option>
                        <option value="5">Por hora</option>
                        <option value="6">A tratar</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="jornadahrs" class="control-label">Jornada (ej: 8 horas x día)</label>
                    <input name="jornadahrs" class="form-control" placeholder="ej: 8 horas/día" />
                </div>
                <div class="form-group">
                    <label for="diaslaborables" class="control-label">Días Laborables</label>
                    <input name="diaslaborables" class="form-control" placeholder="ej: de Lunes a Viernes" />
                </div>
            </div>
            @*------------------------*@
            <div class="col-md-4" style="background-color:#F4F4F4;">
                <div class="form-group">
                    <br>
                    <div class="form-group">
                        <label for="edadminima" class="control-label">Edad aprox.</label>
                        <div class="row h-100 justify-content-start align-items-center">
                            <div class="col-sm-2"><input name="edadminima" class="form-control" placeholder="18" style="width:60px;" /></div>
                            <div class="col-sm-1"> a</div>
                            <div class="col-sm-2"><input name="edadmaxima" class="form-control" placeholder="60" style="width:60px;" /></div>
                            <div class="col-sm-2"> años</div>
                        </div>
                    </div>
                </div>

                <div class="form-group border border-dark border-left-0 border-right-0">
                    <label for="sexo" class="control-label bg-light">Sexo</label>
                    <br>
                    <div class="form-check-inline bg-light">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" name="sexo" id="Sexo" value="1">  Hombre
                        </label>
                    </div>
                    <div class="form-check-inline bg-light">
                        <label class="form-check-label" for="radio2">
                            <input type="radio" name="sexo" Id="Sexor" value="0">  Mujer
                        </label>
                    </div>

                    <div class="form-check-inline bg-light">
                        <label class="form-check-label" for="radio3">
                            <input type="radio" name="sexo" Id="Sexod" value="3">  Sin preferencia
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label for="desde" class="control-label">Fecha de publicación</label>
                    <input type="datetime-local" name="desde" class="form-control" style="width:250px;" />
                </div>
                <div class="form-group">
                    <label for="hasta" class="control-label">Fecha Valida hasta</label>
                    <input type="datetime-local" name="hasta" class="form-control" style="width:250px;" />
                </div>
                <style>
                    ul, li {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }

                    .xcontainer {
                        padding: 20px;
                        position: relative;
                    }
                </style>
                <div class="form-group">
                    <label for="Areaprofesional" class="control-label">Categoría</label>
                    <select name="Areaprofesional" multiple id="Areaprofesional">
                        <option>Abogado Consultor Jurídico</option>
                        <option>Administración Agraria</option>
                        <option>Administración de Empresas</option>
                        <option>Administración Rural</option>
                        <option>Aeronáutica </option>
                        <option>Agrimensura</option>
                        <option>Agronomía Agricultura</option>
                        <option>Análisis Ambiental</option>
                        <option>Análisis de Sistemas</option>
                        <option>Análisis Químicos y Bromatológicos</option>
                        <option>Arquitectura Construcción</option>
                        <option>Artes gráficas</option>
                        <option>Atención al Cliente</option>
                        <option>Banca Servicios Financieros</option>
                        <option>Biblioteconomía Documentación</option>
                        <option>Bioimágenes</option>
                        <option>Bioinformática</option>
                        <option>Bioingeniería  Bioquímica</option>
                        <option>Biología</option>
                        <option>Biotecnología</option>
                        <option>Bromatología</option>
                        <option>Ciencias Ambientales</option>
                        <option>Ciencias Básicas</option>
                        <option>Ciencias de la Atmósfera</option>
                        <option>Ciencias de la Computación</option>
                        <option>Ciencias de la Información</option>
                        <option>Ciencias de los Alimentos</option>
                        <option>Ciencias del Ambiente</option>
                        <option>Ciencias Económicas</option>
                        <option>Ciencias Empresariales</option>
                        <option>Ciencias Geológicas</option>
                        <option>Ciencias Oceanográficas</option>
                        <option>Ciencias Sociales</option>
                        <option>Ciencias y Tecnología de los Alimentos</option>
                        <option>Comercio electrónico</option>
                        <option>Comercio exterior</option>
                        <option>Compras </option>
                        <option>Computación</option>
                        <option>Comunicación Publicidad Medios</option>
                        <option>Confección industrial</option>
                        <option>Consultoría Análisis Consultoría</option>
                        <option>Contabilidad </option>
                        <option>Creatividad Diseño Multimedia</option>
                        <option>Cuidado de niños y mayores </option>
                        <option>Derecho </option>
                        <option>Desabolladura de vehículos</option>
                        <option>Diagnóstico por Imágenes</option>
                        <option>Diagnóstico y Gestión Ambiental</option>
                        <option>Dirección de arte </option>
                        <option>Diseño de Indumentaria</option>
                        <option>Diseño Industrial</option>
                        <option>Diseño Multimedial  Ecología</option>
                        <option>Diseño y decorador (a) de interiores</option>
                        <option>Diseño y desarrollo de aplicaciones</option>
                        <option>Dropshiping</option>
                        <option>Ebanistería</option>
                        <option>Ecología Urbana</option>
                        <option>Economía Industrial</option>
                        <option>Electricidad automotriz</option>
                        <option>Electricidad Electrónica</option>
                        <option>Electrónica industrial</option>
                        <option>Energías Renovables</option>
                        <option>Enología</option>
                        <option>Estadística</option>
                        <option>Esteticista</option>
                        <option>Estilista</option>
                        <option>Farmacia </option>
                        <option>Finanzas </option>
                        <option>Física </option>
                        <option>Física Médica</option>
                        <option>Formación Docencia Formación</option>
                        <option>Genética</option>
                        <option>Geofísica</option>
                        <option>Geología</option>
                        <option>Geoquímica</option>
                        <option>Gestión Ambiental</option>
                        <option>Gestión Alta Dirección</option>
                        <option>Guiones para medios audiovisuales</option>
                        <option>Hidrogeología</option>
                        <option>Hidrología</option>
                        <option>Higiene y Seguridad</option>
                        <option>Impuestos </option>
                        <option>Industria Producción Calidad</option>
                        <option>Información Ambiental</option>
                        <option>Informática Sistemas Internet</option>
                        <option>Ingeniería Aeronáutica</option>
                        <option>Ingeniería Agroindustrial</option>
                        <option>Ingeniería Agronómica</option>
                        <option>Ingeniería Agropecuaria</option>
                        <option>Ingeniería Ambiental</option>
                        <option>Ingeniería Ambiental</option>
                        <option>Ingeniería Azucarera</option>
                        <option>Ingeniería Biomédica</option>
                        <option>Ingeniería Civil Estructural</option>
                        <option>Ingeniería Eléctrica</option>
                        <option>Ingeniería Electromecánica</option>
                        <option>Ingeniería Electrónica</option>
                        <option>Ingeniería Electrónica</option>
                        <option>Ingeniería Electrotécnica</option>
                        <option>Ingeniería en Alimentos</option>
                        <option>Ingeniería en Automatización y Control Industrial</option>
                        <option>Ingeniería en Biotecnología</option>
                        <option>Ingeniería en Computación</option>
                        <option>Ingeniería en Geografía</option>
                        <option>Ingeniería en Industrias de la Madera</option>
                        <option>Ingeniería en Industrias Forestales</option>
                        <option>Ingeniería en Materiales</option>
                        <option>Ingeniería en Mecatrónica</option>
                        <option>Ingeniería en Minas</option>
                        <option>Ingeniería en Paisajes</option>
                        <option>Ingeniería en Perforaciones</option>
                        <option>Ingeniería en Petróleo</option>
                        <option>Ingeniería en Producción</option>
                        <option>Ingeniería en Propulsión Naval</option>
                        <option>Ingeniería en Recursos Hídricos</option>
                        <option>Ingeniería en Recursos Naturales</option>
                        <option>Ingeniería en Sistemas de la Información</option>
                        <option>Ingeniería en Sonido</option>
                        <option>Ingeniería en Telecomunicaciones</option>
                        <option>Ingeniería Forestal</option>
                        <option>Ingeniería Geodésica y Geofísica</option>
                        <option>Ingeniería Hidráulica</option>
                        <option>Ingeniería Industrial</option>
                        <option>Ingeniería Informática</option>
                        <option>Ingeniería Mecánica</option>
                        <option>Ingeniería Mecatrónica</option>
                        <option>Ingeniería Metalúrgica</option>
                        <option>Ingeniería Montes Caminos</option>
                        <option>Ingeniería Naval</option>
                        <option>Ingeniería Nuclear</option>
                        <option>Ingeniería Pesquera</option>
                        <option>Ingeniería Química</option>
                        <option>Ingeniería Sanitaria Ambiental</option>
                        <option>Ingeniería Sistemas</option>
                        <option>Ingeniería Telecomunicaciones</option>
                        <option>Ingeniería Textil</option>
                        <option>Ingeniería Vial</option>
                        <option>Ingeniería Zootecnista</option>
                        <option>Instalación y mantenimiento eléctrico industrial</option>
                        <option>Investigación de Mercado</option>
                        <option>Investigación y Desarrollo</option>
                        <option>Letras Humanidades Filosofía</option>
                        <option>Logística Distribución</option>
                        <option>Marketing </option>
                        <option>Masaje corporal y terapéutico</option>
                        <option>Matemática</option>
                        <option>Mecánica automotriz</option>
                        <option>Mecánica industrial y de mantenimiento</option>
                        <option>Medio Ambiente</option>
                        <option>Oceanografía</option>
                        <option>Oficios diversos</option>
                        <option>Óptica Ocular y Optometría</option>
                        <option>Organización Industrial</option>
                        <option>Ortesis y Prótesis</option>
                        <option>Panadería</option>
                        <option>Personal de limpieza conserjería</option>
                        <option>Pintura de vehículos</option>
                        <option>Producción Animal</option>
                        <option>Producción de Bioimágenes</option>
                        <option>Producción Vegetal</option>
                        <option>Producción/realización para televisión</option>
                        <option>Profesor Maestro Facilitador</option>
                        <option>Psicología </option>
                        <option>Psicología Industrial</option>
                        <option>Química</option>
                        <option>Química Biología</option>
                        <option>Recepción Centralita</option>
                        <option>RRHH</option>
                        <option>Recursos Naturales</option>
                        <option>Redes de Comunicaciones</option>
                        <option>Redes y comunicación de datos </option>
                        <option>Reparación de equipos de audio y video</option>
                        <option>Reparación de equipos de refrigeración  y a/a</option>
                        <option>Repostería</option>
                        <option>Salud Medicina</option>
                        <option>Saneamiento y Protección Ambiental</option>
                        <option>Secretariado </option>
                        <option>Seguridad y Salud Ocupacional </option>
                        <option>Seguros </option>
                        <option>Servicio Doméstico</option>
                        <option>Servicio/Soporte Técnico</option>
                        <option>Sin clasificar</option>
                        <option>Tapicería</option>
                        <option>Tecnología Ambiental</option>
                        <option>Tecnología de los Alimentos</option>
                        <option>Tecnología Minera</option>
                        <option>Tecnologías de la Información y Comunicación</option>
                        <option>Telecomunicaciones </option>
                        <option>Telefonía y planta externa</option>
                        <option>Telemarketing Help Desk</option>
                        <option>Teletrabajo </option>
                        <option>Terminación de muebles</option>
                        <option>Topografía</option>
                        <option>Trabajo Social</option>
                        <option>Traducción Interpretación Idiomas</option>
                        <option>Transporte </option>
                        <option>Turismo Hostelería</option>
                        <option>Ventas </option>

                    </select>
                    <script>
                        $('#Areaprofesional').multiselect(
                            {
                                columns: 1,
                                placeholder: 'Selecciona todas tus áreas'
                            }
                        );
                    </script>
                </div>
            </div>
        </div>


        @**********************************************************************************@
        <div class="row shadow-lg p-4 mb-4 bg-white">
            @*--------------------------------------------------------------*@
            <div class="col-md-12 border border-light" style="background-color:#EEEEEE;">
                <div class="form-group">
                    <label for="Descripciontrabajo" class="control-label">Descripción de la vacante</label>

                    <textarea class="mytextarea form-control" name="Descripciontrabajo" id="Descripciontrabajo" rows="5"></textarea>
                </div>
            </div>
            @*--------------------------------------------------------------*@
        </div>
        <div class="row shadow-lg p-4 mb-4 bg-white">
            @*--------------------------------------------------------------*@
            <div class="col-md-12 border border-light" style="background-color:#F4F4F4;">
                <div class="form-group">
                    <label for="Requisitostrabajo" class="control-label">Requesitos</label>

                    <textarea class="mytextarea form-control" name="Requisitostrabajo" id="Requisitostrabajo" rows="5"></textarea>
                </div>
            </div>
            @*--------------------------------------------------------------*@
        </div>
        <div class="row border-light shadow-lg p-4 mb-4 bg-white">
            <div class="col-md-12 divAltoc" style="background-color:#EEEEEE;">
                <br>
                <input type="submit" value="Crear oferta de empleo" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script type="text/javascript" lang="js">
        $(function () {
            $("#username").keyup(function () {
                var userName = $(this).val();
                if (userName.length >= 7) {
                    $('.validaremail').load(`./CheckUserName?username=${userName}`);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#mipais').on('change', function () {
                if (this.value == 'República Dominicana') {
                    $("#paisx").show();
                    $("#paisx2").hide();
                }
                else {
                    $("#paisx").hide();
                    $("#paisx2").show();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
